src/processCanvas/.DS_Store
public/.DS_Store
src/components/process-canvas/.DS_Store
src/pages/.DS_Store
.DS_Store
.DS_Store
src/components/.DS_Store
src/.DS_Store
.env
.env.*
!.env.example

supabase/functions/.env
src/.DS_Store
.DS_Store
